* {
	border: none;
	border-radius: 0;
	font-family: Lexend, "M PLUS 1", Noto Sans CJK JP;
	font-size: 12px;
	font-weight: 600;
	min-height: 0;
}

window#waybar {
	background: rgba(24, 25, 38, 0.0);
	color: white;
}

tooltip {
	background: rgba(24, 25, 38, 0.95);
	border-radius: 5px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(24, 25, 38);
}

#visualisation,
#taskbar,
#tray-group,
#network,
#audio,
#hardware,
#rightmost,
#workspaces {
	background-color: #1e2030;
	border-radius: 5px 5px 5px 5px;
	margin: 4px 4px;
	padding: 3px 10px;
}

#mpdris {
	background-color: #1e2030;
	border-radius: 5px 5px 5px 5px;
	color: #f4dbd6;
}

#visualisation {
	color: #1e2030;
	background-color: #f4dbd6;
}

#workspaces button {
	color: #f4dbd6;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 5px;
}


#workspaces button.empty, 
#workspaces.sway button.persistent {
	color: #939ab7;
}

#workspaces button.empty.active {
	background-color: #939ab7;
}

#workspaces button.urgent {
	color: #0f0f0f;
	background-color: #9ec3c4;
}

#workspaces button:hover {
	background-color: rgba(244, 219, 214, 0.7);
	color: #0f0f0f;
}

#workspaces.sway button.persistent:hover,
#workspaces button.empty:hover {
	background-color: rgba(147, 154, 183, 0.7);
	color: #0f0f0f;
}

#workspaces button.active,
#workspaces button.focused {
	color: #0f0f0f;
	background-color: #f4dbd6;
}

widget>box,
widget>label {
	padding: 3px 10px;
}

#mpris {
	font-size: 8px;
}

#custom-notification {
	color: #eb6f92;
}

#taskbar button {
	margin: 0px 2px;
	padding: 5px 9px;
	border-radius: 4px;
	background-color: #363a4f;
	transition-duration: 150ms;
}

#taskbar button:hover {
	background-color: #494d64;
	border-radius: 4px;
}

#taskbar button.maximized,
#taskbar button.fullscreen {
	border-bottom: 3px solid #8aadf4;
}

#taskbar button.active {
	background-color: #5b6078;
	border-radius: 4px;
	border-bottom: 3px solid #b7bdf8;
}

#custom-date {
	color: #8aadf4;
}

#custom-updates {
	color: #9ccfd8;
}

#rightmost {
	color: #8aadf4;
}

#custom-downloads {
	color: #eed49f;
}

#custom-logo {
	font-size: 14px;
}

#network {
	color: #f5a97f;
}

#cpu {
	color: #a6da95;
}

#pulseaudio {
	color: #7dc4e4;
}

#pulseaudio.bluetooth {
	color: #8aadf4;
}

#pulseaudio.muted {
	color: #ed8796;
}

#pulseaudio-slider {
	min-width: 50px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 20px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 4px;
  min-width: 10px;
  border-radius: 5px;
  background-color: #363a4f;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #91d7e3;
}

#cava {
	font-family: FiraCode Nerd Font Mono;
}

#memory {
	color: #b7bdf8;
}

#temperature {
	color: #91d7e3;
}

#temperature.critical {
	color: #ed8796;
}
