* {
	border: none;
	border-radius: 0;
	font-family: UbuntuMono Nerd Font, "M PLUS 1", Noto Sans CJK JP;
	font-size: 15px;
	font-weight: 700;
	min-height: 0;
}

window#waybar {
	background: transparent;
	color: white;
}

tooltip {
	background: rgba(24, 25, 38, 0.95);
	border-radius: 15px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(24, 25, 38);
}

#workspaces button {
	padding: 5px 10px;
	color: #cba6f7;
}

#workspaces button.active {
	color: #0f0f0f;
	background-color: #c49ec4;
	border-radius: 15px;
}

#workspaces button.urgent {
	color: #0f0f0f;
	background-color: #9ec3c4;
	border-radius: 15px;
}

#workspaces button:hover {
	background-color: #c49ec4;
	color: #0f0f0f;
	border-radius: 15px;
}

widget>box,
widget>label {
	padding: 3px 10px;
}

box.horizontal.modules-right,
box.horizontal.modules-center,
box.horizontal.modules-left {
	background-color: #181825;
	margin: 5px 5px;
	border-radius: 9999px 9999px 9999px 9999px;
}

box.horizontal.modules-right {
	padding-left: 10px;
}

/*
#image,
#custom-media,
#mpd,
#mpris {
	background-color: #1d1502;
}

#image {
	padding-left: 20px;
	padding-right: 0px;
	border-radius: 9999px 0px 0px 9999px;
}

*/
#custom-media,
#mpd,
#mpris {
	color: #f9e2af;
	padding-right: 20px;
	border-radius: 0px 9999px 9999px 0px;
}



#mpris {
	font-size: 8px;
}


#custom-notification {
	color: #eb6f92;
	padding: 0 20px;
	border-radius: 0px 9999px 9999px 0px;
	background-color: #1b2230;
}

#taskbar button {
	margin: 0px 2px;
	padding: 0px 10px;
	border-radius: 4px;
	transition-duration: 150ms;
}

#taskbar button:hover {
	background-color: #363a4f;
	border-radius: 4px;
}

#taskbar button.active {
	background-color: #494d64;
	border-radius: 4px;
	border-bottom: 3px solid #f4dbd6;
}

#tray {
	padding-left: 15px;
}

#workspaces {
	background-color: #1e1e2e;
	border-radius: 9999px 9999px 9999px 9999px;
}

#custom-date {
	color: #8aadf4;
}

#custom-updates {
	color: #9ccfd8;
}

#custom-downloads {
	color: #eed49f;
}

#custom-logo {
	color: #8aadf4;
	border-radius: 0px 9999px 9999px 0px;
	background-color: #1b2230;
	padding: 0px 20px;
}

#clock {
	color: #8aadf4;
	border-radius: 9999px 0px 0px 9999px;
	background-color: #1b2230;
	padding-left: 20px;
}

#network {
	color: #f5a97f;
}

#pulseaudio,
#cava {
	color: #7dc4e4;
}

#pulseaudio.bluetooth {
	color: #8aadf4;
}

#pulseaudio.muted {
	color: #ed8796;
}

#pulseaudio-slider {
	min-width: 50px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 20px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 4px;
  min-width: 10px;
  border-radius: 5px;
  background-color: #363a4f;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #91d7e3;
}

#cava {
	font-family: FiraCode Nerd Font Mono;
}

#memory {
	color: #b7bdf8;
}

#temperature {
	color: #91d7e3;
}

#temperature.critical {
	color: #ed8796;
}
